	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="../static/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>ElevAIte</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<!-- CSS ============================================= -->
		<link rel="stylesheet" href="../static/css/linearicons.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/nice-select.css">
		<link rel="stylesheet" href="../static/css/animate.min.css">
		<link rel="stylesheet" href="../static/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/css/main.css">

		</head>
		<body>
			  <header id="header" id="home" style="background:rgba(0,0,0,0.6)">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="."><img src="../static/img/elevaite-wide.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="#home">Home</a></li>
				          <li><a href="#about">About</a></li>
				          <li><a href="#product">Our Product</a></li>
				          <li><a href="#demo">Demo</a></li>
				          <li><a class="ticker-btn" href="#">Get Started</a></li>
				        </ul>
				      </nav>
			    	</div>
			    </div>
			  </header><!-- #header -->



			<!-- Start service Area -->
			<section class="service-area section-gap" id="feature" style="margin-top: 5%">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Your Personal Performance Analytics Summary</h1>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 secvice-left">
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>01</h1>
								</div>
								<div class="desc">
									<h4>Speech Rate</h4>
									<p> Below is a time graph of your average talking's WPM.
										<img src="../static/img/elevaite-wide.png" alt="" title="" />
										The overall average WPM is:
									</p>
								</div>
							</div>
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>03</h1>
								</div>
								<div class="desc">
									<h4>Eye Contact</h4>
									<p> throughout the recording, eye Contact was maintained for:

									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 secvice-right">
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>02</h1>
								</div>
								<div class="desc">
									<h4>Facial Emotions</h4>
									<p>
										The following emotions were detected, brought to you by Indico's AI API:
									</p>
								</div>
							</div>
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>04</h1>
								</div>
								<div class="desc">
									<h4>Effective Word Choice</h4>
									<p> From a database of over 200 powerful words scraped from Glassdoor, we've matched with some of the most effectively used words, as well as their frequency.

									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- End service Area -->


			<!-- Start price Area -->
			<section class="price-area section-gap" id="price">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Want more practice? Choose the best pricing for you!</h1>
								<p>As a interviewee user, you'll have 5 practice sessions per month limited to 3 minutes each.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Real basic</h4>
								</div>
								<ul class="lists">
									<li>Up to 20 practice sessions per month.</li>
									<li>Session times extended to 5 mins each, not that you should talk that long.</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 14.79 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>

							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Standard Stuff</h4>
								</div>
								<ul class="lists">
									<li>Up to 50 practice sessions per month.</li>
									<li>Session times extended to 5 mins each, not that you should talk that long.</li>
									<li>Additional Prompts and Practice Questions</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1>22.79</h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Premium</h4>
								</div>
								<ul class="lists">
									<li>Up to 50 practice sessions per month.</li>
									<li>Unlimited Session Length</li>
									<li>Full Access to our Prompts and Practice Questions Database</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 34.79 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End price Area -->


			<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Check out our <a href="">github</a> repo for the source code!
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is edited by Cindy Wang, Irene Chen and Kevin Miao from <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>

					</div>
				</div>
			</footer>
			<!-- End footer Area -->

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>
			<script src="js/owl.carousel.min.js"></script>
			<script src="js/jquery.sticky.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>
			<script src="js/parallax.min.js"></script>
			<script src="js/mail-script.js"></script>
			<script src="js/main.js"></script>
		</body>
	</html>
